<?xml version="1.0" encoding="UTF-8"?>
<!--
    User-specific configuration for maven. Includes things that should not 
    be distributed with the pom.xml file, such as developer identity, along with 
    local settings, like proxy information. The default location for the
    settings file is ~/.m2/settings.xml 
-->
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <pluginGroups>
    <pluginGroup>org.jenkins-ci.tools</pluginGroup>
  </pluginGroups>

  <profiles>
    <!-- Give access to Jenkins plugins -->
    <profile>
      <id>jenkins</id>
      <activation>
        <activeByDefault>true</activeByDefault> <!-- change this to false, if you don't like to have it on per default -->
      </activation>
      <repositories>
        <repository>
          <id>maven.jenkins-ci.org</id>
          <url>http://maven.jenkins-ci.org/content/groups/artifacts/</url>
        </repository>
      </repositories>      
      <pluginRepositories>
        <pluginRepository>
          <id>maven.jenkins-ci.org</id>
          <url>http://maven.jenkins-ci.org/content/groups/artifacts/</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
</settings>